# Assignment 3

## Pandas and plotting exercises

In [1]:
# Import the pandas library

import pandas as pd

In Week 2, you used a dataset from the CORGIS website.  You may have used either the Python, CSV, or JSON data files.

For this assignment, use the CSV file format for the same category of data that you used previously.

In [2]:
# Use pandas read_csv function to import the data into a dataframe variable

broadway_df = pd.read_csv('broadway.csv')

In [13]:
# How many rows and columns does the dataframe have?

broadway_df_row_n = broadway_df.shape[0]
print('The dataframe has ' + str(broadway_df_row_n) + ' rows.')
broadway_df_col_n = broadway_df.shape[1]
print('The dataframe has ' + str(broadway_df_col_n) + ' columns.')

The dataframe has 31296 rows.
The dataframe has 12 columns.

In [9]:
# What are the column names of the dataframe?

broadway_df.columns

Index(['Date.Day', 'Date.Full', 'Date.Month', 'Date.Year', 'Show.Name',
       'Show.Theatre', 'Show.Type', 'Statistics.Attendance',
       'Statistics.Capacity', 'Statistics.Gross', 'Statistics.Gross Potential',
       'Statistics.Performances'],
      dtype='object')

In [14]:
# What are the datatypes of each column?

broadway_df.dtypes

Date.Day                       int64
Date.Full                     object
Date.Month                     int64
Date.Year                      int64
Show.Name                     object
Show.Theatre                  object
Show.Type                     object
Statistics.Attendance          int64
Statistics.Capacity            int64
Statistics.Gross               int64
Statistics.Gross Potential     int64
Statistics.Performances        int64
dtype: object

In [15]:
# Look at the first 2 rows of the dataframe

broadway_df.head(2)

,Date.Day,Date.Full,Date.Month,Date.Year,Show.Name,Show.Theatre,Show.Type,Statistics.Attendance,Statistics.Capacity,Statistics.Gross,Statistics.Gross Potential,Statistics.Performances
0,26,8/26/1990,8,1990,Tru,Booth,Play,5500,88,134456,0,8
1,24,3/24/1991,3,1991,Miss Saigon,Broadway,Musical,1737,100,100647,0,0

In [17]:
# Look at the last 2 rows of the dataframe

broadway_df.tail(2)

,Date.Day,Date.Full,Date.Month,Date.Year,Show.Name,Show.Theatre,Show.Type,Statistics.Attendance,Statistics.Capacity,Statistics.Gross,Statistics.Gross Potential,Statistics.Performances
31294,14,8/14/2016,8,2016,Waitress,Brooks Atkinson,Musical,8058,96,990128,97,8
31295,14,8/14/2016,8,2016,Wicked,Gershwin,Musical,13804,95,1779664,100,8

In [19]:
# Print out summary statistics about the dataframe

broadway_df.describe()

,Date.Day,Date.Month,Date.Year,Statistics.Attendance,Statistics.Capacity,Statistics.Gross,Statistics.Gross Potential,Statistics.Performances
count,31296.000000,31296.000000,31296.000000,31296.000000,31296.000000,3.129600e+04,31296.000000,31296.000000
mean,15.720859,6.509043,2005.875128,8010.523006,80.738912,5.960688e+05,62.404045,7.224821
std,8.817000,3.430321,6.100118,3189.873933,18.842815,3.809796e+05,28.714589,2.235376
min,1.000000,1.000000,1990.000000,24.000000,10.000000,1.037000e+03,0.000000,0.000000
25%,8.000000,4.000000,2001.000000,5508.000000,70.000000,3.201085e+05,45.000000,8.000000
50%,16.000000,6.000000,2006.000000,7801.500000,83.000000,5.145200e+05,63.000000,8.000000
75%,23.000000,10.000000,2011.000000,10348.000000,95.000000,7.852690e+05,82.000000,8.000000
max,31.000000,12.000000,2016.000000,21631.000000,892.000000,3.201333e+06,226.000000,16.000000

In [20]:
# Choose a column and print out the column (it's ok if the output is abbreviated)

broadway_df['Show.Name']

0                             Tru
1                     Miss Saigon
2                     Miss Saigon
3                     Miss Saigon
4                     Miss Saigon
                   ...
31291                  The Humans
31292               The Lion King
31293    The Phantom Of The Opera
31294                    Waitress
31295                      Wicked
Name: Show.Name, Length: 31296, dtype: object

In [ ]:
# Choose a column that has numeric values and make a line plot of the values

In [ ]:
# Use "loc" to print out the first 10 elements of the plotted column

In [ ]:
# Use "loc" to print out the first 10 elements of the plotted column
# as well as the matching 10 elements of a different column that has interesting text

In [ ]:
# Assign the dataframe values from the previous cell into a new dataframe variable
# and make a bar plot with the text values horizontally and the numeric values as the bar heights

In [ ]:
# Re-do the plot from the previous cell as a horizontal bar plot

In [ ]:
# Re-do the plot from the previous cell
# and change at least two aesthetic elements (colors, labels, titles, ...)

# Free form section

* Choose another type of plot that interests you from the [pandas.DataFrame.plot documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#) [look at the 'kind' parameter] and make a new plot of your dataset values using the plot type

* Copy some of your analysis from the Week 2 assignment into new cells below
* Clean them up if desired, and make sure that you translate them to work with your new pandas dataframe structure here if needed
* Create several plots to complement and extend your analysis